# Data manipulation and scientific computing
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0

# Machine Learning
scikit-learn>=1.2.0
xgboost>=2.0.0

# Data Scraping
understatapi>=0.6.0
requests>=2.31.0

# Development Environment
jupyterlab>=4.0.0
matplotlib>=3.7.0
seaborn>=0.12.0

#Cloud Deployment
streamlit